extends header.pug
append body
    canvas(
        width=700
        height=500
        border=black
        id="gameCanvas"
    )

    script.
        var myGameArea = {
            canvas : document.getElementById("gameCanvas"),
            start : function() {
                this.context = this.canvas.getContext("2d");
                document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                this.frameNo = 0;
            },
            clear : function() {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }
        }
    script(src="board.js")
