extends header.pug
append body
    canvas(
        width=700
        height=500
        border=black
        id="gameCanvas"
    )

    p(id="score") Score: 0
    button(onclick="moveLeftClicked()") Move Left
    button(onclick="moveUpClicked()") Move Up
    button(onclick="moveRightClicked()") Move Right
    button(onclick="moveDownClicked()") Move Down

    script(src="game.js")
