extends header
    append body
    body   
        div(id="WelcomeDiv")
            h1="Zombies and Unicorns!"
            a(href='https://www.google.com/')
                div
                    h2="Single player!"
    canvas(id="gameCanvas")
